@import './../../../../styles/variables';



.sliders {
    width: 960px;
    height: 450px;
    margin: 30px auto 30px auto;
    user-select: none;
    display: flex;
    align-items: center;
}

.slider_window {
    width: 900px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
}

.allSlidersContainer {
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.arrow {
    cursor: pointer;
}

